body{
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #062F4F;
	
}

body>div.container{
	color: #f5f3f0;
	text-align: center;
	height: 100%;
	width: 90%;
	margin: 0 auto;
}

.first-position{
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateY(-20%);
	transform: translateX(-50%);
	font-size: 60px;
}

.get-started-wrapper{
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translateY(-50%);
	transform: translateX(-50%);
}

#get-started{
	border: none;
	color: #F3F3F3;
	background-color: #813772;
	padding: 10px 15px;
	transition: all .3s ease;
	border-radius: 5px;
	text-decoration: none;
	margin: auto;
}

#get-started:hover{
	background-color: #813772;
	color: #393939;
	border-radius: initial;
}


.hide{
	display: none;
}

.button-wrapper{
	margin-top: 20px;
}

.button{
	border: none;
	color: #F3F3F3;
	background-color: #813772;
	padding: 5px 15px;
	transition: all .3s ease;
	border-radius: 5px;
	text-decoration: none;
}

.button:hover{
	background-color: #F3F3F3;
	color: #393939;
	border-radius: initial;
}

select, input[type="text"]{
	background-color: #28737c;
	color: #f5f3f0;
	outline: none;
	border-radius: 5px;
}

select>option{
	background-color: #39848D;
}

select>option#day{
	height: 200px;
}



@media only screen and (min-width: 376px){
	#suject-form .text{
		display: inline-block;
		float: left;
	}
	
	#subject-form input{
		width: initial;
		height: 20px;
		padding-left: 7px;
	}
}