/*
	FONTS
*/

@font-face {
	font-family: 'simplicity';
	src: url(../fonts/Simplicity.ttf);
}

@font-face {
	font-family: 'lemonsun';
	src: url(../fonts/DKLemonYellowSun.otf);
}

@font-face {
	font-family: 'chewedpen';
	src: url(../fonts/chewedpenbb.otf);
}
@font-face {
	font-family: 'hellolori';
	src: url(../fonts/hellolori.ttf);
}

body{
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #EFEFEF;
	
}

body>div.container{
	color: #f5f3f0;
	text-align: center;
	height: 100%;
	width: 90%;
	margin: 0 auto;
}

/*
	HEADERS
*/

#header{
	font-family:chewedpen;
	color: #696969;
}

.first-position{
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateY(-10%);
	transform: translateX(-50%);
	font-size: 80px;	

}

.get-started-wrapper{
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translateY(-50%);
	transform: translateX(-50%);
}

#get-started{
	border: none;
	color: #F3F3F3;
	background-color: #FF3B3F;
	padding: 15px 20px;
	transition: all .3s ease;
	border-radius: 50px;
	text-decoration: none;
	font-size: 25px;
	font-family: simplicity;
	margin: auto;
}

#get-started:hover{
	background-color: #F3F3F3;
	color: #FF3B3F;
	border-radius: 50px;
}

.hide{
	display: none;
}

/*
	MONTH/DAYS
*/

.smonth{
	font-family: hellolori;
	font-size: 14px;
	padding: 3px;
	color: #696969;
}

.sday{
	font-family: hellolori;
	font-size: 14px;
	padding: 3px;
	color: #696969
}

.syear{
	font-family: hellolori;
	font-size: 14px;
	padding: 3px;
	color: #696969
}

.emonth{
	font-family: hellolori;
	font-size: 14px;
	padding: 3px;
	color: #696969;
}

.eday{
	font-family: hellolori;
	font-size: 14px;
	padding: 3px;
	color: #696969
}

.eyear{
	font-family: hellolori;
	font-size: 14px;
	padding: 3px;
	color: #696969
}


#start-end{
	font-family: simplicity;
	font-size: 25px;
	color: #696969;
}

/*
	SUBMIT BUTTON
*/

.button-wrapper{
	margin-top: 20px;
	padding-bottom: 20px;

}

.button{
	border: none;
	color: #F3F3F3;
	background-color: #FF3B3F;
	padding: 5px 15px;
	transition: all .3s ease;
	border-radius: 50px;
	text-decoration: none;
	font-size: 25px;
	font-family: Simplicity;
}

.button:hover{
	background-color: #F3F3F3;
	color: #FF3B3F;
	border-radius: 50px;
}

/*
	SCHEDULE INPUTS
*/

.text{
	font-size: 22px;
	font-family: simplicity;
}

.days-container{
	font-family: lemonsun;
	font-size: 17px;
	color: #696969;
}

#may-mali{
	font-family: lemonsun;
	font-size: 20px;
	color: #F19F4D;
    font-weight: 800;
}

#warning{
    color: #F19F4D;
    font-weight: 900;
}

#recorded-subs{
	font-family: hellolori;
	color: #4484CE;
}

select, input[type="text"]{
	background-color: #FFFFFF;
	color: #696969;
	outline: none;
	border-radius: 5px;
	font-family: hellolori;
}

select, input[type="time"]{
    font-family: hellolori;
}

select>option{
	background-color: #FFFFFF;
}

select>option#day{
	height: 200px;
}

.text{
	color: #696969;
}

@media only screen and (min-width: 376px){
	#suject-form .text{
		display: inline-block;
		float: left;
		color: #4484CE;
	}
	
	#subject-form input{
		width: initial;
		height: 20px;
		padding-left: 7px;
		background-color: #CAEBF2;
	}

	.text{
		color: #696969;
	}
}

@media only screen and (min-width: 768px){
	.container h1{
		margin-top: 60px;
		margin-bottom: 0px;
		font-size: 90px;
	}

	#get-started{
		font-size: 35px;
	}

	#start-end-form p{
		font-size: 40px;
	}

	#start select{
		font-size: 30px;
	}

	#start option{
		font-size: 16px;
	}

	#end select{
		font-size: 30px;
	}

	#end option{
		font-size: 16px;
	}

	.button-wrapper button{
		font-size: 35px;
	}

	#warning{
		font-size: 40px;
	}

	.text{
		font-size: 35px;
	}

	#may-mali{
		font-size: 30px;
	}

	#subject-form #cCode{
		width: 55%;
		height: 33px;
		font-size: 25px;
	}

	#subject-form #cno{
		width: 55%;
		height: 33px;
		font-size: 25px;
	}

	#subject-form #cdesc{
		width: 55%;
		height:33px;
		font-size: 25px;
	}

	#subject-form #time-start{
		width: 30%;
		height: 33px;
		font-size: 25px;
	}

	#subject-form #time-end{
		width: 32%;
		height: 33px;
		font-size: 25px;
	}

	#subject-form #room{
		width: 55%;
		height: 33px;
		font-size: 25px;
	}

	#subject-form .day{
		width: 30px;
	}

	#subject-form .days-container{
		font-size: 28px;
	}

	#recorded-subs{
		font-size: 25px;
	}
}

@media only screen and (min-width: 1024px){
	#subject-form .day{
		width: 30px;
	}

	#subject-form .days-container{
		font-size: 28px;
	}
}

