/*
	FONTS
*/

@font-face {
	font-family: 'FeatherScript';
	src: url(../fonts/FeatherScript.otf);
}

@font-face {
	font-family: 'fourhand';
	src: url(../fonts/fourhand.otf);
}

@font-face {
	font-family: 'chewedpen';
	src: url(../fonts/chewedpenbb.otf);
}

body{
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #4484CE;
	
}

body>div.container{
	color: #f5f3f0;
	text-align: center;
	height: 100%;
	width: 90%;
	margin: 0 auto;
}

/*
	HEADERS
*/

#header{
	font-family: FeatherScript;
}

.first-position{
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateY(-10%);
	transform: translateX(-50%);
	font-size: 80px;	
	font-family: FeatherScript;
}

.get-started-wrapper{
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translateY(-50%);
	transform: translateX(-50%);
}

#get-started{
	border: none;
	color: #F3F3F3;
	background-color: #F19F4D;
	padding: 15px 20px;
	transition: all .3s ease;
	border-radius: 50px;
	text-decoration: none;
	font-size: 25px;
	font-family: fourhand;
	margin: auto;
}

#get-started:hover{
	background-color: #F3F3F3;
	color: #F19F4D;
	border-radius: 50px;
}

.hide{
	display: none;
}

/*
	MONTH/DAYS
*/

#month{
	font-family: chewedpen;
	font-size: 22px;
	padding: 3px;
}

#day{
	font-family: chewedpen;
	font-size: 22px;
	padding: 3px;
}

#start-end{
	font-family: fourhand;
	font-size: 25px;
}

/*
	SUBMIT BUTTON
*/

.button-wrapper{
	margin-top: 20px;

}

.button{
	border: none;
	color: #F3F3F3;
	background-color: #F19F4D;
	padding: 5px 15px;
	transition: all .3s ease;
	border-radius: 50px;
	text-decoration: none;
	font-size: 25px;
	font-family: fourhand;
}

.button:hover{
	background-color: #F3F3F3;
	color: #F19F4D;
	border-radius: 50px;
}

/*
	SCHEDULE INPUTS
*/

.text{
	font-size: 22px;
	font-family: fourhand;
}

.days-container{
	font-family: fourhand;
	font-size: 17px;
}

#may-mali{
	font-family: chewedpen;
	font-size: 20px;
	color: #F9CF00;
}

#recorded-subs{
	font-family: chewedpen;
	color: #F9CF00;
}

select, input[type="text"]{
	background-color: #28737c;
	color: #f5f3f0;
	outline: none;
	border-radius: 5px;
}

select>option{
	background-color: #39848D;
}

select>option#day{
	height: 200px;
}

@media only screen and (min-width: 376px){
	#suject-form .text{
		display: inline-block;
		float: left;
	}
	
	#subject-form input{
		width: initial;
		height: 20px;
		padding-left: 7px;
	}
}