/*
	FONTS
*/

@font-face {
	font-family: 'simplicity';
	src: url(../fonts/Simplicity.ttf);
}

@font-face {
	font-family: 'lemonsun';
	src: url(../fonts/DKLemonYellowSun.otf);
}

@font-face {
	font-family: 'chewedpen';
	src: url(../fonts/chewedpenbb.otf);
}
@font-face {
	font-family: 'hellolori';
	src: url(../fonts/hellolori.ttf);
}

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #EFEFEF;
}

.hide{
	display: none;
}


.main-container{
	color: #F3F3F3;
	margin-bottom: 70px;
}

#subbutton{
	border: none;
	color: #F3F3F3;
	background-color: #FF3B3F;
	padding: 10px 15px;
	transition: all .3s ease;
	border-radius: 50px;
	text-decoration: none;
	font-size: 25px;
	font-family: chewedpen;
	margin: auto;
}

/* BOTTOM NAV THING */
.bottomnavthing{
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: #3A445D;
	text-align: center;
	z-index: 50;
	border-top: 1px solid black;
	font-family: chewedpen ;
	font-size: 18px;
}

.bottomnavthing ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.bottomnavthing ul li{
	display: inline-block;
	padding: 15px 10px;
	border-left: 1px solid black;
	color:white;
}

.bottomnavthing ul li:first-child{
	border-left: none;
}

.bottomnavthing ul li:hover{
	background-color: #EFEFEF;


}

.bottomnavthing a:hover {
	color: #FF3B3F;
}

.bottomnavthing a{
	text-decoration: none;
	color: #696969;	
}

.bottomnavthing img{
	height: 23px;
	width: 23px;
}

/* GENERAL LAYOUT */

.topthing{
	padding: 10px 0;
	background-color: #3A445D;
	font-color:#E9E8F2;
	border-bottom: 1px solid grey;
	opacity: 0.8;
	z-index: 4px;
	box-shadow: 0px 0px 4px 0px black;

}

.topthing h1{
	margin: 0;
	display: inline;
	padding-left: 15px;
	font-family: chewedpen;
	color: white;
}

.notes h3{
	color: #696969;
}

.tophead h2{
	padding-left: 15px;
	font-family: chewedpen;
	color: #696969;
}

/* INDEX.HTML */
.today{
	text-align: center;
}

#day, #date{
	display: block;
	padding: 5px 0;
}

.today{
	font-family: hellolori;
	font-size: 20px;
	background-color: #E6BEAE;
	color: #696969;
	border-top: 1px solid grey;
	border-bottom: 2px solid black;
}

.reminders{
	font-family: hellolori;
	font-size: 16px;
	color: #696969;
}

.reminders p{
	padding-left: 10px;
}

.remcontent{
	color: black;
	background-color: #EFEFEF;
	padding-top: 10px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}


/* NOTES */
.textbox{
	width: 100%;
	height: 100%;
	padding: 10px;
	margin-bottom: 0.5px;
}

.content{
	font-family: fourhand;
	padding: 15px;
	font-size: 25px;
	margin: auto;
	color: #F3F3F3;
	background-color: #4484CE;
}

#notes {
	border-bottom: 2px solid black;
}

.checkboxes{
	padding: 0 30px;
}

.checkboxes input{
	float: left;
}

.terms {
	display:block;
	margin: 0 0 1em 0;
 	height: 2em;
  	padding: 0 0.3em;
}

#prelim{
	padding-top: -10px;
	
}

.subdrop{
	padding-bottom: 100px;
	padding-top: 20px;
	color: #696969;
}

.notedrop{
    background-color: #CAEBF2;
    min-width: 160px;
    box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.notedrop a{
	display: block;
}

.subdrop.notedrop{
	display: block;
}

/* REVIEWER */

h3{
	margin: 0;
	display: inline;
	color: #696969;
}

.add{
	float: right;
	text-decoration: none;
	color: black;
	padding: 1px 5px;
	border: 1px solid black;
	border-radius: 10px;
}

.rev-link{
	display: block;
}

/* SCHEDULE */

.hide {
	display: none;
}

.schedule-container {
	color: black;
	font-family: kingsmen;
	font-size: 16px;
}

.day {
	font-family: fourhand;
	padding: 15px;
	font-size: 20px;
	border-bottom: 2px solid black;
	margin: auto;
	color: #696969;
	background-color: #CAEBF2;
}

#mon {
	padding-left: 5px;
	width: 100%;
	background-color: beige;
}

#tue {
	padding-left: 5px;
	width: 100%;
	background-color: beige;
}

#wed{
	padding-left: 5px;
	width: 100%;
	background-color: beige;
}

#thu {
	padding-left: 5px;
	width: 100%;
	background-color: beige;
}

#fri {
	padding-left: 5px;
	width: 100%;
	background-color: beige;
}

#sat {
	padding-left: 5px;
	width: 100%;
	background-color: beige;
}

#sun {
	padding-left: 5px;
	width: 100%;
	background-color: beige;
}

.border {
	border: 1px solid black;
	font-weight: bold;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 320px){
	.bottomnavthing ul li{
		font-size: 16px;
	}
}

@media only screen and (max-width: 425px){
	.bottomnavthing ul li{
		font-size: 16px;
	}
}

@media only screen and (max-width: 380px){
	.page-name{
		display: none;
	}

	.bottomnavthing img{
		width: 30px;
	}

	.bottomnavthing li{
		margin-left: 0px;
		width: 15%;
	}
}

@media only screen and (min-width: 1024px){
	.navblock{
		width: 25%;
	}
}


@media only screen and (min-width: 768px){
	.navblock{
		width: 25%;
	}

	.bottomnavthing li{
		margin-left: 0px;
		width: 20%;
	}
}

/* Plus Button */

.plusnav {
    bottom: 80px;
    position: fixed;
    right: 20px;
    width: 100px;

}

.plusbutton {
    background-color: #EF455C;
    border-radius: 50px;
    color: black;
    padding: 13px 17px;
    font-size: 16px;
    cursor: pointer;
    float: right;
    box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.2);
}

.plusbutton:hover{
	background-color: #D39CAB;
}

.plusnav-content{
	display: block;
	width: 100%;
	background-color: grey;
	border-radius: 10px 10px 0px 10px;
    z-index: 1;
    position: absolute;
    margin: 15px;
    padding: 35px 25px;
    bottom: 40px;
    right: 10px;
}

.plusnav-content a{
	display: block;
	color: white;
	font-family: simplicity;
	text-decoration: none;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 2px;
	font-size: 18px;
}

.plusnav-content a:hover{
	color:black;
}

.alert{
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	transform: translateY(-50%);
	position: fixed;
	width: 200px;
	height: 100px;
	z-index: 50;
	transition: .5s;
}

.alert .alertcont{
	border-radius: 7px;
	height: 100%;
	max-width: 100%;
	background-color: lightblue;
	text-align: center;
	position: relative;
}

.alert .alertcont .ok{
	background-color: lightblue;
	border: none;
	border-top: 1px solid black;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 6px 0;
	border-radius: 0 0 7px 7px;
}

.alert .alertcont .cancel{
	display: none;
}

.confirm{
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	transform: translateY(-50%);
	position: fixed;
	width: 200px;
	height: 100px;
	z-index: 50;
	transition: .5s;
}

.confirm .alertcont{
	border-radius: 7px;
	height: 100%;
	max-width: 100%;
	background-color: lightblue;
	text-align: center;
	position: relative;
}

.confirm .alertcont .ok{
	background-color: lightblue;
	border: none;
	border-top: 1px solid black;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%;
	padding: 6px 0;
	border-radius: 0 0 7px 7px;
}

.confirm .alertcont .cancel{
	background-color: lightblue;
	border: none;
	border-top: 1px solid black;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%;
	padding: 6px 0;
	border-radius: 0 0 7px 7px;
}
