/*
	FONTS
*/

@font-face {
	font-family: 'simplicity';
	src: url(../fonts/Simplicity.ttf);
}

@font-face {
	font-family: 'lemonsun';
	src: url(../fonts/DKLemonYellowSun.otf);
}

@font-face {
	font-family: 'chewedpen';
	src: url(../fonts/chewedpenbb.otf);
}
@font-face {
	font-family: 'hellolori';
	src: url(../fonts/hellolori.ttf);
}

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #EFEFEF;
}

.hide{
	display: none;
}


.main-container{
	color: #F3F3F3;
	margin-bottom: 70px;
}


/* BOTTOM NAV THING */
.bottomnavthing{
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: #3A445D;
	text-align: center;
	z-index: 50;
	border-top: 1px solid white;
	font-family: chewedpen ;
	font-size: 18px;
}

.bottomnavthing ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.bottomnavthing ul li{
	display: inline-block;
	padding: 15px 10px;
	border-left: 1px solid white;
	color:white;
}

.bottomnavthing ul li:last-child{
	border-left: 1px solid white;
	border-right:none; 
}

.bottomnavthing ul li:hover{
	background-color: #EFEFEF;


}

.bottomnavthing a:hover {
	color: #FF3B3F;
}

.bottomnavthing a{
	text-decoration: none;
	color: #696969;	
}

.bottomnavthing img{
	height: 23px;
	width: 23px;
}

/* GENERAL LAYOUT */

.topthing{
	padding: 10px 0;
	background-color: #3A445D;
	font-color:#E9E8F2;
	border-bottom: 1px solid grey;
	opacity: 0.8;
	z-index: 4px;
	box-shadow: 0px 0px 4px 0px black;

}

.topthing h1{
	margin: 0;
	display: inline;
	padding-left: 15px;
	font-family: chewedpen;
	color: white;
}

.notes h3{
	color: #696969;
}

h2{
	padding-left: 15px;
	font-family:hellolori;
	color: #696969;
}

/* INDEX.HTML */
.today{
	text-align: center;
}

#day, #date{
	display: block;
	padding: 5px 0;
}

.today{
	font-family: hellolori;
	font-size: 20px;
	background-color: #E6BEAE;
	color: black;
	border-top: 1px solid grey;
	border-bottom: 2px solid black;
}

#day{
    color: #696969;
}

#date{
    color: #696969;
}

.reminders{
	font-family: hellolori;
	font-size: 16px;
	color: #696969;
}

.reminders p{
	padding-left: 10px;
}

.remcontent{
	color: black;
	background-color: #EFEFEF;
	padding-top: 10px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}


/* NOTES */
.textbox{
	width: 80%;
	height: 100%;
	padding: 10px;
	margin-bottom: 0.5px;
}

.content{
	font-family: fourhand;
	padding-right: 15px;
	font-size: 25px;
	margin: auto;
	color: #F3F3F3;
	background-color: #4484CE;
}
#subject{
    display: inline-block;
    padding: 5px;
    font-family: simplicity;
    font-weight: 600;
    font-size: 22px;
    color: #4484CE;
}

.creation{
    top: 95%;
	left: 80%;
}
#titleForm{
    display: block;
    padding: 15px;
    align-self: auto;
    font-family: hellolori;
}

#textForm{
    display: block;
    padding: 25px;
    font-family: hellolori;
}

#notes {
	border-bottom: 2px solid black;
}

.icons{
    top: 75%;
	left: 80%;
	position: absolute;
	transform: translateY(-50%);
	transform: translateX(-50%);
}

#save-notes{
    border: none;
	color: #F3F3F3;
	background-color: #FF3B3F;
	padding: 15px 20px;
	transition: all .3s ease;
	border-radius: 30px;
	text-decoration: none;
	font-size: 22px;
	font-family: simplicity;
	margin: auto;
}

#save-notes:hover{
    background-color: #F3F3F3;
	color: #FF3B3F;
	border-radius: 50px;
}
/*REMINDERS */

.creation p{
    color: #4484CE;
    font-family: simplicity;
    font-weight: 600;
    font-size: 18px;
    display: block;
    padding-left: 25px;
}
.creation #subject{
    color: black;
}
#title{
    font-family: hellolori;
}

#timeDue{
    font-family: hellolori;
}

#remind{
  font-family: simplicity;  
    
}

#additionalNotes{
    font-family: helloLori;
    display: block;
}
.addAlarm{
    border: none;
	color: #F3F3F3;
	background-color: #F9CF00;
	padding: 8px 15px;
	transition: all .3s ease;
	border-radius: 25px;
	text-decoration: none;
	font-size: 22px;
	margin: auto;
    
}

.addAlarm:hover{
    background-color: #F3F3F3;
	color: #F9CF00;
	border-radius: 50px;
}

.remsave{
    top: 75%;
	left: 80%;
	position: absolute;
	transform: translateY(-50%);
	transform: translateX(-50%);
}

#subbutton{
    border: none;
	color: #F3F3F3;
	background-color: #FF3B3F;
	padding: 15px 20px;
	transition: all .3s ease;
	border-radius: 30px;
	text-decoration: none;
	font-size: 22px;
	font-family: simplicity;
	margin: auto;
}
#subbutton:hover{
    background-color: #F3F3F3;
	color: #FF3B3F;
	border-radius: 50px;
}

#message{
    font-family: lemonsun;
    font-size: 25px;
    color: #FF3B3F;
}

.alertcont{
    top: 65%;
	left: 8%;
	position: absolute;
	transform: translateY(-50%);
	transform: translateX(-50%);
} 

#ok{
    border: none;
	color: #F3F3F3;
	background-color: #F19F4D;
	padding: 15px 20px;
	transition: all .3s ease;
	border-radius: 25px;
	text-decoration: none;
	font-size: 18px;
	font-family: simplicity;
    font-weight:600;
	margin: auto;
}

#ok:hover{
    background-color: #F3F3F3;
	color: #F19F4D;
	border-radius: 25px;
}
.everyTime{
    font-family: hellolori;
    padding-right: 25px;
    
}

.deleteRem{
    border: none;
	color: #F3F3F3;
	background-color: #F19F4D;
	padding: 8px 17px;
	transition: all .3s ease;
	border-radius: 25px;
	text-decoration: none;
	font-size: 22px;
	margin: auto;
}
.deleteRem:hover{
    background-color: #F3F3F3;
	color: #F19F4D;
	border-radius: 50px;
}

/* REVIEWER */

h3{
	margin: 0;
	display: inline;
	color: #696969;
}

.add{
	float: right;
	text-decoration: none;
	color: black;
	padding: 1px 5px;
	border: 1px solid black;
	border-radius: 10px;
}

.rev-link{
	display: block;
}

/* SCHEDULE */

.hide {
	display: none;
}

.schedule-container {
	color: black;
	font-family: kingsmen;
	font-size: 16px;
}

.day {
	font-family: fourhand;
	padding: 15px;
	font-size: 20px;
	border-bottom: 2px solid black;
	margin: auto;
	color: #696969;
	background-color: #CAEBF2;
}

#mon {
	padding-left: 5px;
	width: 100%;
	background-color: beige;
}

#tue {
	padding-left: 5px;
	width: 100%;
	background-color: beige;
}

#wed{
	padding-left: 5px;
	width: 100%;
	background-color: beige;
}

#thu {
	padding-left: 5px;
	width: 100%;
	background-color: beige;
}

#fri {
	padding-left: 5px;
	width: 100%;
	background-color: beige;
}

#sat {
	padding-left: 5px;
	width: 100%;
	background-color: beige;
}

#sun {
	padding-left: 5px;
	width: 100%;
	background-color: beige;
}

.border {
	border: 1px solid black;
	font-weight: bold;
}
/* NEW SUBJECTS */

.creation p{
    text-align: center;
}

input{
    font-family: hellolori;
    font-size: 18px;
}

.button-wrapper{
    text-align: center;
	margin-top: 20px;
	padding-bottom: 20px;

}

.button{
	border: none;
	color: #F3F3F3;
	background-color: #FF3B3F;
	padding: 5px 15px;
	transition: all .3s ease;
	border-radius: 50px;
	text-decoration: none;
	font-size: 25px;
	font-family: Simplicity;
}

.button:hover{
	background-color: #F3F3F3;
	color: #FF3B3F;
	border-radius: 50px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 320px){
	.bottomnavthing ul li{
		font-size: 16px;
	}
}

@media only screen and (max-width: 425px){
	.bottomnavthing ul li{
		font-size: 16px;
	}
}

@media only screen and (max-width: 380px){
	.page-name{
		display: none;
	}

	.bottomnavthing img{
		width: 30px;
	}

	.bottomnavthing li{
		margin-left: 0px;
		width: 15%;
	}
}

@media only screen and (min-width: 1024px){
	.navblock{
		width: 25%;
	}
}


@media only screen and (min-width: 768px){
	.navblock{
		width: 25%;
	}

	.bottomnavthing li{
		margin-left: 0px;
		width: 20%;
	}
}

/* Plus Button */

.plusnav {
    bottom: 80px;
    position: fixed;
    right: 20px;
    width: 100px;

}

.plusbutton {
    background-color: #EF455C;
    border-radius: 50px;
    color: black;
    padding: 13px 17px;
    font-size: 16px;
    cursor: pointer;
    float: right;
    box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.2);
}

.plusbutton:hover{
	background-color: #D39CAB;
}

.plusnav-content{
	display: block;
	width: 100%;
	background-color: grey;
	border-radius: 10px 10px 0px 10px;
    z-index: 1;
    position: absolute;
    margin: 15px;
    padding: 35px 25px;
    bottom: 40px;
    right: 10px;
}

.plusnav-content a{
	display: block;
	color: white;
	font-family: simplicity;
	text-decoration: none;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 2px;
	font-size: 18px;
}

.plusnav-content a:hover{
	color:black;
}

.alert{
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	transform: translateY(-50%);
	position: fixed;
	width: 200px;
	height: 100px;
	z-index: 50;
	transition: .5s;
}

.alert .alertcont{
	border-radius: 7px;
	height: 100%;
	max-width: 100%;
	background-color: lightblue;
	text-align: center;
	position: relative;
}

.alert .alertcont .ok{
	background-color: lightblue;
	border: none;
	border-top: 1px solid black;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 6px 0;
	border-radius: 0 0 7px 7px;
}

.alert .alertcont .cancel{
	display: none;
}

.confirm{
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	transform: translateY(-50%);
	position: fixed;
	width: 200px;
	height: 100px;
	z-index: 50;
	transition: .5s;
}

.confirm .alertcont{
	border-radius: 7px;
	height: 100%;
	max-width: 100%;
	background-color: lightblue;
	text-align: center;
	position: relative;
}

.confirm .alertcont .ok{
	background-color: lightblue;
	border: none;
	border-top: 1px solid black;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%;
	padding: 6px 0;
	border-radius: 0 0 7px 7px;
}

.confirm .alertcont .cancel{
	background-color: lightblue;
	border: none;
	border-top: 1px solid black;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%;
	padding: 6px 0;
	border-radius: 0 0 7px 7px;
}
