html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: helvetica;
	font-weight: 100;
	overflow: hidden;
}

/* GENERAL FOR ALL */

.container {
	position: relative;
	height: 100%;
	width: 100%;
	left: 0;;
	transition: left 0.2s ease-in-out;
}

/* SIDE - NAVIGATION */

.container.open-sidebar { 
	left: 240px; 
}

.swipe-area {
	position: absolute;
	width: 50px;
	left: 0;
	top: 0;
	height: 100%;
	background-color: transparent;
	z-index: 0;
}

#sidebar {
	position: absolute;
	width: 240px;
	height: 100%;
	left: -240px;
	background-color: #DF314D;
	box-sizing: border-box;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar ul li { 
	margin: 0; 
}

#sidebar ul li a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 15px 20px;
	font-size: 16px;
	font-weight: 100;
	border-bottom: 1px solid #C9223D;
	transition: background 0.3s ease-in-out;
}

#sidebar ul li:hover a { 
	background-color: #C9223D; 
}

/* GENERAL LAYOUT */

.main-content {
	width: 100%;
	height: 100%;
	position: relative;
	box-sizing: border-box;
}

.main-content .content {
	width: 100%;
	box-sizing: border-box;
}

.main-content .content p{
	width: 100%;
	padding: 0 15px;
	box-sizing: border-box;
}

.main-content #sidebar-toggle {
	position: relative;
	display: block;
	background-color: white;
	padding: 10px 7px;
	border-radius: 3px;
	float: left;
	margin-left: 10px;
}

.main-content #sidebar-toggle .bar {
	height: 2px;
	width: 18px;
	display: block;
	margin-bottom: 3px;
	border-radius: 1px;
	background-color: black;
}

.main-content #sidebar-toggle .bar:last-child { 
	margin-bottom: 0; 
}

.heading{
	top: 0;
	background-color: lightblue;
	padding: 10px 0;
	margin: 0;
	width: 100%;
}

.heading h2{
	padding: 0 15px;
	margin: 0;
	padding-left: 75px;
}

.content{
	padding: 15px 20px 0;
}

/* INDEX.HTML */

.today{
	padding: 25px;
	background-color: blue;
}
 
#day, #date{
	display: block;
	text-align: center;
}

#addbutton {
	float: right;
}

.nodata{
	text-align: center;
}

.button{
	color: black;
	text-decoration: none;
	padding: 3px 10px;
	border: 2px dashed black;
}

.button:hover{
	border: 1px solid black;	
}

@media only screen and (max-width: 400px){
	.button{
		border: 2px solid black;
		border-radius: 10px;
	}	
}

/* REVIEWER */

h3{
	margin: 0;
	display: inline;
}

.add{
	float: right;
	text-decoration: none;
	color: black;
	padding: 1px 5px;
	border: 1px solid black;
	border-radius: 10px;
}

.rev-link{
	display: block;
}

/* DATA.HTML -- REVIEWER -- */
.choices{
	float: left;
	width:20%;
	border: 1px solid black;
}

.layout{
	float: left;
	width: 79%;
	height: 100%;
	border: 1px solid black;
}

#multipleChoice{
	display: block;
	margin: 10px auto;
}

#identification{
	display: block;
	margin: 10px auto;
}

#matchingType{
	display: block;
	margin: 10px auto;
}

#fillInTheBlanks{
	display: block;
	margin: 10px auto;
}

#multipleChoiceForm{
	display: block;
	margin: 10px auto;
}

#identificationForm{
	display: block;
	margin: 10px auto;
}

#matchingTypeForm{
	display: block;
	margin: 10px auto;
}

#fillInTheBlanksForm{
	display: block;
	margin: 10px auto;
}

input{
	display: block;
	margin: auto;
}

#saveButton{
	float: left;
	display: block;
	width: 100%;
	margin: 10px auto;
}


/* SCHED SETUP */
form{
	width: 350px;
	margin: 0 auto;
}

#schedulemon {
	padding-left: 5px;
	width: 100%;
}

#scheduletue {
	padding-left: 5px;
	width: 100%;
}

#schedulewed {
	padding-left: 5px;
	width: 100%;
}

#schedulethu {
	padding-left: 5px;
	width: 100%;
}

#schedulefri {
	padding-left: 5px;
	width: 100%;
}

#schedulesat {
	padding-left: 5px;
	width: 100%;
}

#schedulesun {
	padding-left: 5px;
	width: 100%;
}

#addform {
	display: none;
	border: 1px solid black;
	padding: 10px;
}

#subjectform {
	width: 100%;
	clear: both;
}

#subjectform input {
	width: 100%;
	clear: both;
}

#user_input {
	border: 1px solid black;
	height: 20px;
}

#addsubject {
	
}

.subj {
	border: 1px solid black;
	padding: 15px;
	width: 70%;
}

.border {
	border: 1px solid black;
	font-weight: bold;
}

.schedule-container p {
	border: 1px solid black;
	padding: 5px;
	font-weight: bold;
	font-size: 20px;
	background-color: #C9223D; 
	color: white;
	
}

/* Notes */

.textbox{
	width: 100%;
	height: 100%;
	padding: 10px;
	margin-bottom: 0.5px;
}

.checkboxes{
	padding: 0 30px;
}

.checkboxes input{
	float: left;
}

.terms {
	display:block;
	margin: 0 0 1em 0;
 	height: 2em;
  	padding: 0 0.3em;
}

#prelim{
	padding-top: -10px;
	
}

.subdrop{
	position: relative;
	display: block;
	padding-bottom: 100px;
	padding-top: 20px;
}
.notedrop{
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.notedrop a{
	display: block;
}

.subdrop.notedrop{
	display: block;
}